.process-section {
  padding: 80px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion-item {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 25px;
  background: #F3F3F3;
  transition: 0.3s ease;
}

.accordion-item.active {
  background: #B9FF66;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.number {
  font-size: 28px;
  font-weight: bold;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.accordion-content {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.6;
}